

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: rgba(255, 0, 0, 0.5); /* Red background with opacity */
    z-index: 1; /* Ensure the background is behind other elements */
}

#title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black; /* Black text color */
    padding: 10px;
    border-radius: 5px;
    font-size: 2em; /* Twice as large text */
    text-align: center; /* Center the text */
    z-index: 2; /* Ensure the title is in front of buttons */
}



/* Adjust the z-index for the buttons */
#undoButton, #newGameButton {
    z-index: 2; /* Buttons are behind the title */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none; /* Initially hidden */
    font-size: 2em; /* Increased font size */
    opacity: 0.8; /* Reduced opacity */
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: #ffffff; /* Set the background color for active cells */
}

.cell:disabled {
    background-color: #ffb5b5; /* Set the background color for disabled cells */
    color: #242424; /* Set the text color for disabled cells */
}
